.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}
.aside{
    min-height: 5rem;
    margin-top: 2rem;

}

.aside > h1 {
    margin:0;
    text-align: center;
    
}